In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from scipy.sparse import csc_matrix
from sklearn.neighbors import NearestNeighbors
%matplotlib inline

count_votes = 11

In [5]:
data = pd.read_csv('../data/ip.csv',  
                       sep=' ', encoding='UTF-8'
                      )

In [21]:
data.head()

,ip,uri,agent
0,91.204.252.232,/car_stickers/vdv/VDV-24-03/,Mozilla/5.0(iPad;CPUOS6_0likeMacOSX)AppleWebKi...
1,1.60.33.231,/car_stickers/russia/gerb-RF/,Mozilla/5.0(Linux;Android7.0;SM-G930FBuild/NRD...
2,1.60.33.231,/car_stickers/russia/gerbRF-polnosvet/,Mozilla/5.0(Linux;Android7.0;SM-G930FBuild/NRD...
3,1.60.33.231,/car_stickers/russia/gerbRF-polnosvet/,Mozilla/5.0(Linux;Android7.0;SM-G930FBuild/NRD...
4,1.60.33.231,/car_stickers/russia/gerb-RF/,Mozilla/5.0(Linux;Android7.0;SM-G930FBuild/NRD...

In [22]:
data['userid'] = data[['ip', 'agent']].apply(lambda x: ''.join(x), axis=1)

In [24]:
data.head()

,ip,uri,agent,userid
0,91.204.252.232,/car_stickers/vdv/VDV-24-03/,Mozilla/5.0(iPad;CPUOS6_0likeMacOSX)AppleWebKi...,91.204.252.232Mozilla/5.0(iPad;CPUOS6_0likeMac...
1,1.60.33.231,/car_stickers/russia/gerb-RF/,Mozilla/5.0(Linux;Android7.0;SM-G930FBuild/NRD...,1.60.33.231Mozilla/5.0(Linux;Android7.0;SM-G93...
2,1.60.33.231,/car_stickers/russia/gerbRF-polnosvet/,Mozilla/5.0(Linux;Android7.0;SM-G930FBuild/NRD...,1.60.33.231Mozilla/5.0(Linux;Android7.0;SM-G93...
3,1.60.33.231,/car_stickers/russia/gerbRF-polnosvet/,Mozilla/5.0(Linux;Android7.0;SM-G930FBuild/NRD...,1.60.33.231Mozilla/5.0(Linux;Android7.0;SM-G93...
4,1.60.33.231,/car_stickers/russia/gerb-RF/,Mozilla/5.0(Linux;Android7.0;SM-G930FBuild/NRD...,1.60.33.231Mozilla/5.0(Linux;Android7.0;SM-G93...

In [25]:
data['userid'] = [hashlib.md5(val.encode('utf-8')).hexdigest() for val in data['userid']]

TypeError: Unicode-objects must be encoded before hashing

In [12]:
from hashlib import md5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905108 entries, 0 to 905107
Data columns (total 3 columns):
ip       905108 non-null object
uri      905108 non-null object
agent    905108 non-null object
dtypes: object(3)
memory usage: 20.7+ MB

In [5]:
products.shape

(17540, 1)

In [8]:
order_products.shape

(74574, 2)

In [12]:
order_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74574 entries, 0 to 74573
Data columns (total 2 columns):
product_id    74574 non-null int64
order_id      74574 non-null int64
dtypes: int64(2)
memory usage: 1.1 MB

In [86]:
products.head()

                              name
product_id
154                          АК-47
6236                         Комар
6237                   Куда летим?
152                          DOZOR
6197        Угловой цветочный узор

In [87]:
selected_orders = order_products.groupby('order_id')['product_id'].agg(['count'])
selected_orders = selected_orders[selected_orders['count'] > 1]
selected_orders = selected_orders[selected_orders['count'] < 5]
selected_orders = selected_orders.index
selected_orders

Int64Index([   37,    49,    69,   128,   216,   229,   254,   323,   344,
              349,
            ...
            86511, 86531, 86553, 86595, 86633, 86639, 86658, 86665, 86717,
            86748],
           dtype='int64', name='order_id', length=11616)

In [88]:
order_products.head()

   product_id  order_id
0         259        37
1         154        37
2         156        47
3         178        46
4         156        25

In [89]:
order_counts = order_products.groupby('product_id')['order_id'].agg(['count'])
order_counts.sort_values('count', ascending=False).head()

            count
product_id
505           797
156           751
521           698
968           609
1275          575

In [90]:
quantiles = np.arange(75 , 101, 1 , dtype=int)

for quantile in quantiles:
    c = order_counts.quantile(round(quantile / 100 , 2))['count']
    print("Кватниль {}% с количеством оценок: {} шт.".format(quantile , c))

Кватниль 75% с количеством оценок: 7.0 шт.
Кватниль 76% с количеством оценок: 7.0 шт.
Кватниль 77% с количеством оценок: 8.0 шт.
Кватниль 78% с количеством оценок: 8.0 шт.
Кватниль 79% с количеством оценок: 8.0 шт.
Кватниль 80% с количеством оценок: 9.0 шт.
Кватниль 81% с количеством оценок: 9.0 шт.
Кватниль 82% с количеством оценок: 10.0 шт.
Кватниль 83% с количеством оценок: 10.0 шт.
Кватниль 84% с количеством оценок: 11.0 шт.
Кватниль 85% с количеством оценок: 12.0 шт.
Кватниль 86% с количеством оценок: 12.0 шт.
Кватниль 87% с количеством оценок: 14.0 шт.
Кватниль 88% с количеством оценок: 15.0 шт.
Кватниль 89% с количеством оценок: 16.0 шт.
Кватниль 90% с количеством оценок: 17.0 шт.
Кватниль 91% с количеством оценок: 19.0 шт.
Кватниль 92% с количеством оценок: 21.0 шт.
Кватниль 93% с количеством оценок: 23.0 шт.
Кватниль 94% с количеством оценок: 26.0 шт.
Кватниль 95% с количеством оценок: 29.0 шт.
Кватниль 96% с количеством оценок: 35.0 шт.
Кватниль 97% с количеством оценок: 44.0 шт.
Кватниль 98% с количеством оценок: 55.0 шт.
Кватниль 99% с количеством оценок: 83.03999999999905 шт.
Кватниль 100% с количеством оценок: 797.0 шт.

In [92]:
selected_products = order_counts[order_counts['count'] > count_votes].index
print("{} товаров, которые встречаются в {} и более заказах".format(selected_products.shape[0] , count_votes))

1368 товаров, которые встречаются в 11 и более заказах

In [93]:
selected_order_products = order_products[order_products['product_id'].isin(selected_products)]
selected_order_products = selected_order_products[selected_order_products['order_id'].isin(selected_orders)]
selected_order_products.head()

    product_id  order_id
0          259        37
1          154        37
6          197       128
7          154       128
11         184        49

In [94]:
#Создаем сводную таблицу product_id | order_id
selected_order_products_pivot = selected_order_products.pivot_table(index='product_id', 
                                                                    columns='order_id',
                                                                    aggfunc=lambda x : 1
                                                                   ).fillna(0)

In [95]:
selected_order_products_pivot.shape

(1365, 10487)

In [96]:
selected_order_products_pivot.head()

order_id,37,49,69,128,216,229,254,323,344,349,...,86489,86511,86531,86553,86595,86633,86639,86665,86717,86748
product_id,,,,,,,,,,,,,,,,,,,,,
152,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
154,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
product_id_map = selected_order_products_pivot.index

In [98]:
order_products_compressed = csc_matrix(selected_order_products_pivot)

# Обучение

In [99]:
nearest = NearestNeighbors(metric='cosine')
%time nearest.fit(order_products_compressed)

CPU times: user 1.24 ms, sys: 264 µs, total: 1.5 ms
Wall time: 878 µs

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [109]:
def similar(product_id=156, n=6):
    res = nearest.kneighbors([selected_order_products_pivot.loc[product_id]],n_neighbors=n+1 ,return_distance=True)
    df = pd.DataFrame(index=res[1][0], data=res[0][0]).sort_values(0)[1:]
    return pd.DataFrame(data=selected_order_products_pivot.index[df.index])

def related_product(product_id, n=6):
    return product_id_map[nearest.kneighbors([selected_order_products_pivot.loc[product_id]],n_neighbors=n+1 ,return_distance=False)[0][1:]]

Int64Index([   37,    49,    69,   128,   216,   229,   254,   323,   344,
              349,
            ...
            86489, 86511, 86531, 86553, 86595, 86633, 86639, 86665, 86717,
            86748],
           dtype='int64', name='order_id', length=10487)

In [110]:
products.loc[related_product(156 , 30)]

                                                       name
product_id
456                                  ВДВ, Никто кроме нас 2
460                                      &quot;За ВДВ&quot;
458                                            ВДВ, парашют
897                        Наклейка круглая &quot;ВДВ&quot;
4563                                            Россия, вдв
8418                           Бывших десантников не бывает
7830                      За ВДВ (белый купол). Три размера
459                                ВДВ, парашют. Вариант 2.
4545                        Воздушно-десантные войска. ВДВ.
966                ВДВ не минздрав, предупреждать не будет!
619         Войска Дяди Васи (Белая наклейка+голубой берет)
10780                Земля - для каждого, небо - избранным!
416                                 Спасибо деду за победу!
408                            Военный с девочкой на руках.
457                                    ВДВ, Никто кроме нас
9020                         ВДВ со звездой без парашютиста
7822                                             85 лет ВДВ
7832                                    Никто кроме нас ВДВ
6082                                     Понять и простить!
7826                                          За ВДВ. Берет
9766                Спецназ ГРУ. Военная разведка. Версия 3
1873                                           Volkswagen 4
5955                                                Спецназ
788                      Спецназ &quot;кто если не мы&quot;
7833                                        ВДВ муляж флага
14450          Там, где чёрт сломает ногу ВДВ найдет дорогу
2777                                       Виноградная лоза
1845                                        Конь. Вариант 5
8283                                           Флаг России.
11135                                             warface 5

In [102]:
products.loc[related_product(505 , 12)]

                                                         name
product_id
590                                   One life... One love...
521                      Бесплатная пробная наклейка (машина)
632                                          Долбит нормально
667                                      Yahooею с этих дорог
178                                          coupe mafia 2108
968         Иероглиф &quot;Ангел-хранитель&quot; (вертикал...
622                               Моя жизнь... Мои правила...
748                                                      БПАН
729                                       Лобовик без надписи
509              Live for itself, and already then for others
640                           Иероглиф №02 - Впереди! - Ahead
1748                                                 По госту

In [103]:
%time products.loc[similar(5822)['product_id']]

CPU times: user 5.45 ms, sys: 3.45 ms, total: 8.91 ms
Wall time: 9.07 ms

                                                         name
product_id
14607                                            Стильбешеный
12178                                     Ломай, чини, жигули
192                                      sedan syndicate 2106
10245                                               Питбуль 3
18721                                           Летняя резина
1165        Не жди принца на белом PORSHE, люби пацана на ...

In [104]:
products.loc[related_product(5538)]

                             name
product_id
9795           Космические войска
4687                          bbs
8300        Я за что плачу налоги
9698                DOLBIT ZAEBIS
1318                        Троль
3845                   Кот и паук

In [105]:
related_product(5538)

Int64Index([9795, 4687, 8300, 9698, 1318, 3845], dtype='int64', name='product_id')

In [114]:
out_pd = pd.DataFrame(columns=['product_id' , 'related_id'])
i = 0
for product_id in selected_order_products_pivot.index:
    for related_id in related_product(product_id , 12):
        out_pd.loc[i] = [product_id , related_id]
        i += 1

In [82]:
out_pd.to_csv('../data/product_related.csv' ,
              sep=';',
              columns=['product_id' , 'related_id'],
              index=False
             )